
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins';
    background-color: #FFFCED;
}

/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
background-color: #FFFCED;}
*/

/*div#navbar navbar-default navbar-fixed-top{
    background-color: #FFFCED;}
*/

.navbar-default {
  background-color: #C7DFCD;
}

.btn-primary {
    background-color: #BB6464 !important;
    border-color: #BB6464 !important;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #BB6464 !important;
    border-color: #BB6464 !important;
    color: white !important;
    outline: none !important;
}
.add-to-cart-btn:hover , .add-to-cart-btn:focus {
    background-color: #BB6464 !important;
    border-color: #BB6464 !important;
    color: white !important;
    outline: none !important;
}

.add-to-cart-btn {
    background-color: #BB6464 !important;
    border-color: #BB6464 !important;
}

/*.navbar-fixed-top{
    background-color: black;
}
*/

/*header{
    background-color: #FFFCED;
}*/

/*
    .print-format {
        font-family: "My Font" !important;
    }

    body{
        font-family: 'Poppins';
    }
*/

/*url('public/font/Poppins.ttf')*/

/*@font-face { font-family: 'Sofia'; 
             src: url('/public/fontsofia/Sofia.ttf'); }*/