<style type="text/css">
     .text_right{
        text-align: right;
    }
    .text_center{
        /*text-align: center;*/
		/*width: 8%;*/
		word-wrap: break-word;
		/*width: 9em;*/
    }
    .desc{
    	text-align: center;
		width:20%;
		word-wrap: break-word;
    }
    .font_size{
        font-size: 15px
    }
    .bth{
        border-top: hidden;
    }
    .bbh{
        border-bottom: hidden;
    }

  h3 {
		margin: auto;
		text-align: center;
		padding: 10px;
		color: white;
	}

	.table {
		background-color: white;
		margin: auto;
		border-collapse: collapse;
		display: block;
		overflow-y: scroll;
		height: 600px;
	}

	/*thead, tbody {
		display: inline-block;
	}*/

	thead {
		position: sticky;
		top: 1px;
		z-index: 3;
	}

	tbody {
		height: 400px;
	}

	th {
		background-color: #f5f7fa;
	}

	.fixed {
		position: sticky;
		/*width: 12em;*/
		left: 0;
		top: auto;
		z-index: 2;
	}

	td:not(.fixed) {
		z-index: 0;
	}
		
	.ta{
		text-align: center;
		width:9.09%;
		word-wrap: break-word;
	}

	td:not(.fixed) {
		z-index: 0;
	}

	/*.first_col {
		top: auto;
		min-width: 77px;
		max-width: 77px;
		text-align: center;
	}
	.sec_col {
		top: auto;
		min-width: 56px;
		max-width: 500px;
		text-align: center;
	}

	.col3 {
		top: auto;
		min-width: 45px;
		max-width: 50px;
		text-align: center;
	}*/

	/*.col4 {
		top: auto;
		min-width: 223px;
		max-width: 230px;
		text-align: center;
	}

	.col5 {
		top: auto;
		min-width: 40px;
		max-width: 45px;
		text-align: center;
	}

	.col6 {
		top: auto;
		min-width: 43px;
		max-width: 52px;
		text-align: center;
	}
	.col7 {
		top: auto;
		min-width: 64px;
		max-width: 68px;
		text-align: center;
	}
	.col8 {
		top: auto;
		min-width: 59px;
		max-width: 59px;
		text-align: center;
	}*/
	/*.col9 {
		top: auto;
		min-width: 42px;
		max-width: 67px;
		text-align: center;
	}
	.col10 {
		top: auto;
		min-width: 65px;
		max-width: 65px;
		text-align: center;
	}*/
	

	input[type=number] {
  		width: 70px;
	}

	.align {
		text-align: center;
	}

	.position {
		position: absolute;
		top: 50px;
	}

	.header2 {
		/*position: sticky;*/
		left: 10em;
		top: auto;
		min-width: 120px;
		max-width: 120px;
		text-align: center;
	}
	.last_col {
		width: 9em;
		top: auto;
		min-width: 10px;
		max-width: 10px;
		text-align: center;
	}

	.comment_lable {
  		position: static;
  		bottom: 50;
  		/*right: 0;*/
  		width: 300px;
	}

	.table-sortable th {
	  cursor: pointer;
	}

	.table-sortable .th-sort-asc::after {
	  content: "\25b4";
	}

	.table-sortable .th-sort-desc::after {
	  content: "\25be";
	}

	.table-sortable .th-sort-asc::after,
	.table-sortable .th-sort-desc::after {
	  margin-left: 5px;
	}

	.table-sortable .th-sort-asc,
	.table-sortable .th-sort-desc {
	  background: rgba(0, 0, 0, 0.1);
	}

	table,tr,th,td {
		border: 1px solid black !important;

	}

</style>
<div class="conatiner">
	<div>
		<table class="table table-bordered table-wrapper table-sortable" width="100%" border="1px" bordercolor="#000000" id="portalTable">
			<thead>
				<tr>
					<th colspan="9" style="background-color: #C7DFCD; color: black; border-right: hidden;" class="fixed">
						Add To Cart Books Details
					</th>
					<th colspan="4" style="background-color: #C7DFCD; color: white; text-align: right; border-left: hidden;"><button class="delete" style="color: black;"><b>Delete</b></button></th>
				</tr>
				<tr>
					<th><input type="checkbox" name="checkbox" class="check"></th>
					<th class="text_center fixed align">Language</th>
					<th class="text_center fixed align">Category</th>
					<th class="text_center fixed align">Item Code</th>
					<th class="desc align">Description</th>
					<th class="text_center fixed align">Rate</th>
					<th class="text_center fixed align">Stock In Nos</th>
					<th class="text_center fixed align">Stock In<br>Cartons</th>
					<th class="text_center fixed align">Book Per<br>Carton</th>
					<th class="text_center fixed align">Ordered<br>Qty In NOS</th>
					<th class="text_center fixed align">Ordered<br>Qty in Cartons</th>
					<th class="text_center fixed align">Amount</th>
					<th class="text_center fixed align">Publisher</th>

				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<th><input type="checkbox" name="checkbox" class="check_row" value="{{row.name}}"></th>
					<td class="text_center first_col">{{row.language or ""}}</td>
					<td class="text_center sec_col">{{row.item_group or ""}}</td>
					<td class="text_center col3">{{row.item_code or ""}}</td>
					<td class="desc align col4">{{row.description or ""}}</td>
					<td class="text_center col5">{{row.rate or ""}}</td>
					<td class="text_center col6">{{row.stock_in_nos or ""}}</td>
					<td class="text_center col7">{{row.stock_in_cartons or ""}}</td>
					<td class="text_center col8">{{row.book_per_carton or ""}}</td>
					<td class="text_center col9"><input class="order_qty cart_order_qty" item="{{row.item_code}}" language="{{row.language}}" rate="{{row.rate}}" type="number" value="{{row.ordered_qty_in_nos}}"></td>
					<td class="text_center col10 order_cartons"><input class="cartan_order_qty cart_cartan_order_qty" item="{{row.item_code}}" language="{{row.language}}" rate="{{row.rate}}" book_per_cartons="{{row.book_per_carton}}" type="number" value="{{row.ordered_qty_in_cartons}}"></td>
					<td class="col12">{{row.amount or ""}}</td>
					<td class="text_center col11">{{row.publisher or ""}}</td>
				</tr>
				{% endfor %}
				{% if data %}
				<tr>
					<th class="text_center fixed align"></th>
					<td class="text_center fixed align"><b>Total</b></td>
					<td class="text_center fixed align"></td>
					<td class="text_center fixed align"></td>
					<td class="text_center fixed align"></td>
					<td class="text_center fixed align"></td>
					<td class="text_center fixed align"></td>
					<td class="text_center fixed align"></td>
					<td class="text_center fixed align"></td>
					<td class="text_center fixed align total_ordered_qty">{{ data[0]["total_ordered_qty"] or ""}}</td>
					<td class="text_center fixed align total_cartons_qty">{{ data[0]["total_cartons_qty"] or "0.0" }}</td>
					<td class="text_center fixed align total_amount">{{ data[0]["total_amount"] or "0.0" }}</td>
					<td class="text_center fixed align"></td>
				</tr>
				{% endif %}
				<tr>
					<td colspan="13">
						<p><label class="comment_lable">Comment/Feedback</label></p>
						<textarea class="comment" id="comment" name="comment" rows="4" cols="50"></textarea>
					</td>

				</tr>

				<tr>
					<td colspan="7">
						<p><label class="contact_person">Delivery Contact Person</label></p>
						<select class="c_p" id="c_p" name="c_p">
						 {% for x in contact %}
							<option >{{x.parent}}</option>
						 {% endfor %}
						 <!-- <option value='desk#Form/Contact/New%20Contact%201'>Create Contact</option> -->
						</select>
					</td>

					<td colspan="6">
						<p><label class="create_new">Create New Contact/Address</label></p>
						<select onChange="window.location.href=this.value">
							<option value="">&nbsp;</option>
							<option value="desk#Form/Contact/New Contact 1">Contact List</option>
						    <option value="desk#Form/Address/New Address 1">Address List</option>
						</select>
					</td>


				</tr>

				<tr>
					<td colspan="7">
						<p><label class="transportation_mode">Transportation Mode </label></p>
						<select class="transp_mode" id="transp_mode" name="transp_mode" style="color:green;">
							<option value="Road">Road</option>
							<option value="Air">Air</option>
							<option value="Rail">Rail</option>
							<option value="Ship">Ship</option>
						</select>
					</td>

					<td colspan="6">
						<p><label class="p_transporter">Preferred Transporter </label></p>
						<input type="text" class="p_t" id="p_t" name="p_t"></input>
					</td>

				</tr>


				<tr>

					<td colspan="7">
						<p><label class="d_charges">Delivery Type </label></p>
						<select class="d_t" id="d_t" name="d_t" style="color:green;">
							<option value="blk"> </option>
							<option value="Self Pickup">Self Pickup</option>
							<option value="Door Delivery">Door Delivery</option>
							<option value="Godown Delivery">Godown Delivery</option>
						</select>
					</td>

					<td colspan="6">
						<p><label class="pan_gst">Delivery Contact Person Pan no / GST No </label></p>
						<input type="text" class="p_g" id="p_g" name="p_g"></input>
					</td>
					
				</tr>

				<tr>
					<td colspan="7">
						<p><label class="f_charges">Freight Charges </label></p>
						<select class="f_c" id="f_c" name="f_c" style="color:green;">
							<option value="bl"> </option>
							<option value="NA">NA</option>
							<option value="To Pay">To pay</option>
							<option value="Paid">Paid</option>
							
						</select>
					</td>
				</tr>


				<tr>
					<td colspan="7">
						<p><label class="shipping_address">Delivery Address </label></p>
						<select class="s_address" id="s_address" name="s_address">
						 {% for x in addresses %}
							<option >{{x.parent}}</option>
						 {% endfor %}
						</select>
						
					</td>

					<td colspan="6">
						<p><label class="billing_address">Billing Address </label></p>
						<select class="b_address" id="b_address" name="b_address">
						 {% for x in addresses %}
							<option >{{x.parent}}</option>
						 {% endfor %}
						</select>
					</td>

				</tr>

				
				<tr>
					<td colspan="7">
						<p><label class="ins_delivery">Instruction for Delivery </label></p>
						<textarea class="i_d" id="i_d" name="i_d" rows="4" cols="50"></textarea>
					</td>

					<td colspan="6">
						<p><label class="sp_instruction">Special Instruction </label></p>
						<textarea class="s_i" id="s_i" name="s_i" rows="4" cols="50"></textarea>
					</td>

				</tr>

				<tr style="border-top: hidden; border-bottom: hidden;">
					<td colspan="13" class="bth bbh" style="border-top: hidden; border-bottom: hidden;">
						<button class="submit" style="color:green;"><b>Submit Order</b></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>