<html>
<head>
<p>Hare Krishna {{ doc.contact_display }} Prabhu Ji, <br>
Your order has been delivered as per below details. </p>

<p><b>Delivery Confirmation - {{ doc.customer }}</b></p>

</head>

<body>
    <table style="width:100%; text-align: left;" border="1">
        
        <tr>
        <td style="background-color: #D0D0D0; text-align: right;">Order Number and Date:</td>
        <td>{% for row in doc.items %}
                {% if row.idx==1 %}
                {{row.against_sales_order or ""}}
                {% endif %}
        {% endfor %}
        </td>
        </tr>
        
    
        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Order Received from Temple:</td>
                <td>{{ doc.customer }}</td>
        </tr>
        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Order Received from(Name):</td>
                <td>{{ doc.contact_display }}</td>
        </tr>
        <tr>    
                <td style="background-color: #D0D0D0; text-align: right;">Registered Email Id from Which Order Received:</td>
                <td>{{frappe.db.get_value("Customer",{"name":doc.customer},"user")}}</td>
        </tr>
        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Delivery Challan / Packing Slip No.:</td>
                <td>{{ doc.name }}</td>
        </tr>
        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Delivery Address:</td>
                <td>{{ doc.shipping_address }}</td>
        </tr>
        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Delivery Contact Person:</td>
                <td>{{ doc.contact_display }}</td>
        </tr>
      
        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Contact Number:</td>
                <td> {{ frappe.db.get_value("Contact",{"name":doc.contact_person},"phone") }} </td>
        </tr>

        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Delivery Type: </td>
                <td>{{ doc.delivery_type }}</td>
        </tr>

        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Transporter Name: </td>
                <td>{{ doc.transporter }}</td>
        </tr>

        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Dispatch Date:</td>
                <td>{{ doc.posting_date }}</td>
        </tr>

        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Actual Delivery Date:</td>
                <td>{{ doc.actual_delivery_date }}</td>
        </tr>

        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Waybill No.: </td>
                <td>{{ doc.waybill_no }}</td>
        </tr>

        <tr>
                <td style="background-color: #D0D0D0; text-align: right;"> Total No. Of Boxes: </td>
                <td> {{doc.total_no_of_boxes}} </td>

        </tr>

        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Total Weight(in Kgs): </td>
                <td>{{ doc.total_net_weight }}</td>
        </tr>

        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Transportation Payment Type:</td>
                <td>{{ doc.freight_charges }}</td>
        </tr>

        <tr>
                <td style="background-color: #D0D0D0; text-align: right;">Attachment Details:</td>
                <td> {{ doc.attachment_details }} </td>
        </tr>


</table>
</body>
</html>

<p>Note: Please Confirm that you have received all Books as per Invoice/ Delivery Challan. <br>
If we do not get acknowledgement, it will be considered as you have received books as per Invoice / Delivery Note. <br></p>
<p><b>This is autogenerated mail. Please do not reply back to this e-mail.</b> <br>
<b>For any queries or clarifications write in to admin@indiabbt.com<b><br></p>

<p>Thanks and Regards,<br>
Admin<br>
Bhaktivedanta Book Trust (BBT) <br>
BBT Office, 1st Floor, ISKCON Temple <br>
Hare Krishna Land, <br>
Juhu, Mumbai – 400049. India. <br>
Board Lines – 26210000 (6 Lines)
</p>